<div style="background-color: #FFF; margin-right: 10px;">
    <div style="border-bottom: 1px solid #f0f0f0;font-weight: 700; padding-bottom: 10px; font-size: 16px;">
        Shopping Cart <span class="curly-braces">(<span class="adobeTotalCountEvnt">1</span>)</span>
    </div>

    <div class="enterPinCode" style="background-color: #FFF;margin:10px 0; padding: 14px 0 5px;border:1px solid #E6E6E6;float: left;width: 100%;">
        <div class="content-inline" style="padding:0 3% 0;    float: left;">
            <span>
                <img src="https://assets.winni.in/groot/2023/01/31/icons/cartroute.png" style="width:28px;height:28px;">
                <span style="color:#333333;vertical-align: super;">&nbsp; Enter Delivery Pincode:</span>
            </span>
        </div>
        <div class="content-inline center-align outsidePinCode" style="padding:0px 3% 0px 2%;float: left;width: max-content; margin-top: -4px;">
            <input type="number" id="cartPincodeSearch" name="locid" value="" placeholder="111001" style="border:none;max-height: 175px;overflow-y: auto;width: 330px;border-bottom: 1px solid #ccc;">
            <!-- <img class="pincode-Clear" id="pincode_Clear" src="https://assets.winni.in/groot/2022/10/4/close-btn.png"> -->

        </div>
        <div class="content-inline " style=" padding: 0px 20px 0 0%; float: right;">
            <span>
                <button class="btn search-by-pincode-cart" style=" background-color:white;line-height:unset!important;height: 30px; border: 1px solid #DA0E68;font-weight:500;padding: 0 18px!important;font-size:11px!important;border-radius: 2px;color:#DA0E68;text-transform: capitalize; font-size: 14px !important;box-shadow: none;">Check</button>
            </span>
        </div>
    </div>
    <div class="pinCodeResult" style="display: none; background-color: #FFF;margin:10px 0; padding: 14px 0 5px;border:1px solid #E6E6E6;float: left;width: 100%;">
        <div class="content-inline" style="padding:0 3% 0;    float: left;">
            <span>
                <span style="color:#333333;vertical-align: super;">&nbsp; Deliver to: <span class="pincodeValue adobePincode" style="display: inline-block; padding-left: 20px;"> </span></span>
            </span>
        </div>
        <div class="content-inline" style=" padding: 0px 20px 0 0%; float: right;margin-top: -7px;">
            <span>
                <button class="btn change-pincode" style=" background-color:white;line-height:unset!important;height: 30px; border: 1px solid #DA0E68;font-weight:500;padding: 0 18px!important;font-size:11px!important;border-radius: 2px;color:#DA0E68;text-transform: capitalize; font-size: 14px !important;box-shadow: none;">Change Pincode</button>
            </span>
        </div>
    </div>
    <div id="responseMsg" class="pinCodeResult" style="display: none;text-align:center;font-size:15px;padding:15px 0 8px">
        <span class="responseMsgboxEvent responseMsgbox resmonsMsg-success ">Delivery location updated</span>
    </div>

    <div class="countryNameDiv" style="border-bottom: 1px solid #f0f0f0;display: none; padding: 15px; text-align: center;background-color: chocolate;color: #FFF;font-size: 16px;">
        Cart contains products of multiple countries. Select products for only single country.
    </div>
    <input type="hidden" id="onlyZippyDeliveries" value="false">
    <div style="width:100%; float: left; border:1px solid #E6E6E6;">
        <div class="row" style="color:#333; margin:2%; padding:0.75rem 0;border:1px solid #E6E6E6;  position: relative">
            <div class="col s12">
                <div class="countryNameDiv" style="display: none;font-weight:600;font-size: 14px; color:chocolate; padding-left: 15px; margin-bottom:0;">

                </div>
            </div>
            <div class="col-3">
                <div class="ci-wrapper clearfix">
                    <div class="img-wrapper">
                        <a href="/classic-red-velvet-photo-cake/pd/51352?dz=63" style="">
                            <picture>
                                <source data-srcset="https://assets.winni.in/product/primary/2023/11/91790.jpeg?dpr=1&amp;w=140" type="image/webp">
                                <img class="center-block responsive-img" src="https://assets.winni.in/product/primary/2023/11/91790.jpeg?dpr=1&amp;w=140" alt="Classic Red Velvet Photo Cake" title="Classic Red Velvet Photo Cake">
                            </picture>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-7" style="padding:0">
                <div class="ci-wrapper clearfix">
                    <div class="ci-details" style="">
                        <a class="ci-pn" href="/classic-red-velvet-photo-cake/pd/51352?dz=63" style=" color: #212121; font-size:16px;">Classic Red Velvet Photo Cake</a>

                        <p style="margin-top:0;font-weight:500;color:#333; font-size: 12px;margin-bottom: 15px;">



                            Estimated Delivery: <span style="color: #66b266; font-weight: 700;">Today</span>


                        </p>
                        <div class="row" style="margin:0;">
                            <div class="col s12 m12 l6" style="padding:0; font-size: 12px;min-height: 25px;">



                                <div class="cart_itemd" style="color: #666;">
                                    Qty:
                                    <span class="qtyDown btn" id="20758187" data-uri="/giftbox/update-quantity/20758187">-</span>
                                    <input style=" border: 1px solid #eeeeee;height:12px !important;margin:0px;text-align: center;width: 25px !important;     font-size: 12px;" class="form-control  show-update-text gb-ci-qty" type="number" onkeydown="return false" value="1" data-product-id="51352" data-cid="20758187" data-orig-qty="1" data-poc="0" min="1" id="input20758187" max="10">
                                    <span class="qtyUp btn" id="20758187" data-uri="/giftbox/update-quantity/20758187">+</span>
                                </div>


                            </div>

                            <div class="col s12 m12 l6" style="padding:0 0 5px; font-size: 12px;min-height: 25px;">
                                <label style="color: #666; padding-right: 10px; display: inline-block;"> Weight:</label>
                                <span style="color: #666;word-break: break-all;display: inline-block; margin-right: 6px;">500 gm</span>
                            </div>
                            <div class="col s12 m12 l6" style="padding:0 0 5px; font-size: 12px;min-height: 25px;">
                                <label style="color: #666; padding-right: 10px; display: inline-block;"> Eggless:</label>
                                <span style="color: #666;word-break: break-all;display: inline-block; margin-right: 6px;">FALSE</span>
                            </div>

                            <div class="col s12 m12 l6" style="padding:0 0 5px; font-size: 12px;min-height: 25px;">
                                <label style="color: #666; padding-right: 10px; display: inline-block;"> Upload Photo:</label>
                                <span style="color: #666;word-break: break-all;display: inline-block; margin-right: 6px;"><a target="_BLANK" class="uplodedImageLinks" href="https://winni-cust-assets.s3.ap-south-1.amazonaws.com/product/attachment/photo-cake/2023/12/11/img20230914_09175525.png">img20230914_09175525</a></span>
                            </div>

                            <div class="col s12 m12 l6 ckmsg" style="padding:0 0 2px; font-size: 12px;min-height: 25px;"><label style="color: #666; padding-right: 10px; display: inline-block;"> Message:</label>
                                <span style="display: inline-block;white-space: nowrap; max-width: 104px;color: #666;overflow: hidden;text-overflow: ellipsis;margin-bottom: -6px;"></span>
                                <a class="update-message-btn pull-right" style=" padding-left: 5px;   vertical-align: middle;" href="#" data-title="Message on cake" data-message="" data-pid="51352" data-poc="0" data-attributeid="3" data-uri="/giftbox/update-message/20758187">
                                    <img src="https://assets.winni.in/groot/2023/01/31/icons/cartbluedit.svg" width="15" style="vertical-align: middle;">
                                </a>
                            </div>

                            <div class="col s12 m12 l6" style="padding:0 0 5px; font-size: 12px;min-height: 25px;"><label style="color: #666; padding-right: 10px; display: inline-block;">Shipping Type :</label>
                                <span>
                                    <div class="" style="font-size: 12px;display: inline-block;color: #666;">Express</div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2" style="padding:0;">
                <div class="ci-wrapper clearfix">
                    <div class="ci-details">
                        <div style="bottom:15px; position: absolute; right: 20px; cursor: pointer;" class="delete-item-wrapper">

                            <span class="modal-trigger initialRemove" data-target="remove-pdd-20758187" style="cursor:pointer;font-size:14px;vertical-align:text-top"><a><img src="https://assets.winni.in/groot/2023/03/13/desktop/gift-box/delete-icon-blue.png" style="width:11px;vertical-align: text-top;"> Remove</a></span>
                            <div class="modal " id="remove-pdd-20758187" tabindex="0">
                                <button type="button" class=" modal-close" aria-label="Close" style="position: absolute;right: 10px; top: 16px; border:none; background: none; cursor: pointer;"><span aria-hidden="true" style="font-size:30px;">×</span></button>
                                <div class="model-header-text" style="padding-bottom: 15px;">Remove Item</div>
                                <div class=" model-content-text modal-content">
                                    Are you sure want to remove this Item?
                                </div>

                                <div style="cursor:auto;padding:0 24px 24px; float: left; width: 100%;">
                                    <div class="removeCancelEvnt  modal-close  model-cancel-bt model-cancel-hover" data-productsec="" data-cidd="20758187" data-addon="addon product-no" data-pprice="999" data-pname="Classic Red Velvet Photo Cake" data-pid="51352" data-primarycategory="Cake">Cancel</div>
                                    <div class=" model-cancel-bt model-remove-bt  remove-giftbox-product" data-pprice="999" data-pname="Classic Red Velvet Photo Cake" data-pid="51352" data-primarycategory="Cake" data-cid="/giftbox/remove-item/20758187">Remove</div>
                                </div>
                            </div>
                        </div>
                        <div style="font-size: 16px;font-weight: 500;margin-right: 12px;margin-top:-2px; text-align: right;">
                            <span class="moneySymbol">₹</span>
                            <span class="moneyCal" id="itmPrice-20758187" data-inr="999" style="font-size:18px;">999
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        @media only screen and (min-width: 600px) {
            .title-style {
                padding: 5px 15px;
                font-size: 14px;
            }

            .padding-style {
                padding: 10px;
            }
        }

        @media screen and (max-width: 600px) {
            .title-style {
                padding: 5px 5px;
                font-size: 12px;

            }

            .padding-style {
                padding-top: 10px;
                padding-bottom: 25px;

            }
        }

        @media only screen and (max-width: 1400px) {
            .new-line {
                display: block !important;
            }

            .content-under-recent-image {
                height: 75px !important;
            }
        }

        .currency-card-content-height {
            height: 67px !important;
        }
    </style>

    <!--Explore item-->
    <!--You May also Like-->
</div>